@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
   font-family: Geist, sans-serif;
   user-select: none;
}
.eagle-text {
   background-clip: text;
   -webkit-background-clip: text;
   animation: shine 7s linear infinite;
   color: #d683ff;
   mask-image: linear-gradient(
      -75deg,
      rgba(255, 255, 255, 0.6) 30%,
      #fff 50%,
      rgba(255, 255, 255, 0.6) 70%
   );
   mask-image: linear-gradient(
      -75deg,
      rgba(255, 255, 255, 0.6) 30%,
      #fff 50%,
      rgba(255, 255, 255, 0.6) 70%
   );
   mask-size: 200%;
}

@keyframes shine {
   from {
      -webkit-mask-position: 150%;
   }

   to {
      -webkit-mask-position: -50%;
   }
}

@keyframes modal-in {
   0% {
      opacity: 0;
      transform: scale(0.8);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes modal-out {
   0% {
      opacity: 1;
      transform: scale(1);
   }
   100% {
      opacity: 0;
      transform: scale(0.8);
   }
}

.modal-enter {
   animation: modal-in 0.2s ease-out forwards;
}

.modal-exit {
   animation: modal-out 0.2s ease-in forwards;
}
